{% extends "base_generic.html" %} 

{% load bootstrap4 %} 

{% block content %}
{% load staticfiles %}
<div class="row">
	<div class="col-xl-12 text-center">
		<h1>{{ set_title }}</h1>
	</div>
</div>

<div class="row">
	<div class="col-xl-2">
		<div class="row no-gutters">
			
			<div class="col-xl-2 col1">
			</div>  
			<div class="col-xl-10 navi">

				<div class="head-nav">
					<a href="{% url 'mainapp:product_list' %}"
					   class="list-group-item list-group-item-action list-group-item-primary">
					<<К списку товаров</a>
				</div>

			</div>
			
		</div>
	</div>
	<div class="col-xl-8">
		<div class="row no-gutters">
			<div class="col-xl-12 content">
<!--******************************************************-->

<div class="row justify-content-center">
  <div class="col-xl-8 col-sm-4">
	  {% if current_product.image %}
		<img class="img-fluid" src="{{ current_product.image.url }}" alt="Responsive image">
	  {% else %}
	  	Нет изображения
	  {% endif %}
  </div>
  <div class="col-xl-4 col-sm-4">
		    <h3 class="card-title">{{ current_product.name }}</h3>
	  		<p><strong>Категория:</strong> {{ current_product.category.name }}</p>
	  		<p class="product_price"><strong>Цена:</strong> {{ current_product.price }} руб</p>

		    <p class="card-text"><strong>Описание:</strong> {{ current_product.description }}</p>
	  		<div class="button-next">
            	<a href={% url 'basketapp:add_product' current_product.pk %}>Добавить в корзину</a>
          	</div>
	  		<div class="button-next" style="margin-top: 20px">
				<a class="dropdown-item" href="{% url 'basketapp:basket_view' %}">Перейти в корзину</a>
			</div>
	  {# ************************************************** #}

		<div class="basket_record">
			<br>
			<p>В наличии: {{ current_product.quantity }}</p>

			{#<input type="number" name="{{ current_product.pk }}" min="1" value="1">#}

			{#<button class="btn btn-round">#}
			{#	<a href="" class="">Добавить в корзину</a>#}
			{#</button>#}
		</div>
	  {# ************************************************** #}



  </div>
</div>
	<!-- ****************************************************** -->

			</div>
		</div>
	</div>
	<div class="col-xl-2">
		<div class="row no-gutters">
			<!--
			<div class="col-xl-10 navi">
				<div class="head-nav">
					<p class="head-nav-title">Новости</p>
				</div>
				<div>
					{% if current_news %}
					<div class="row no-gutters justify-content-center">
						<div class="col-xl-12 col-sm-12">
							<div class="card">
								<img class="img-fluid card-img-top" src="{{ current_news.img.url }}" alt="Responsive image">

								<div class="card-body">
									<h5 class="card-title">{{ current_news.title  }}</h5>
									<p style="font-size: 10px;">Новость от {{ current_news.create }}</p>
									<a href="{% url 'post_detail' current_news.pk %}" class="btn btn-primary">Подробнее</a>
								</div>
							</div>
						</div>
					</div>
					{% endif %}
				</div>
			</div>
		-->
			<div class="col-xl-2 col1">

			</div> 
		</div>

	</div>
</div>

{% endblock %}
