{% extends "base_generic.html" %} 

{% load bootstrap4 %} 

{% block content %}
{% load staticfiles %}
<div class="row">
	<div class="col-xl-12 text-center">
		<h1>{{ set_title }}</h1>
	</div>
</div>

<div class="row">
	<div class="col-xl-2">
		<div class="row no-gutters">
			
			<div class="col-xl-2 col1">
			</div>  
			<div class="col-xl-10 navi">
				{% if category_list %}
				<div class="head-nav">
					<p class="head-nav-title">Категории</p>
				</div>
				<div>
						<!--ul style="list-style-type: none;  text-align: center; margin-top: 20px;"-->
						<ul style="list-style-type: none;  text-align: center; margin-top: 20px;">
							<li> <a href="{% url 'mainapp:product_list' %}"
								{% if active_category %}
									class="list-group-item list-group-item-action list-group-item-primary">
								{% else %}
									class="list-group-item list-group-item-action list-group-item-primary active">

								{% endif %}
								Любая</a>
							</li>
							{% for category in category_list %}
							<li><a
                                    href="{% url 'mainapp:product_category' category.pk %}"
                                    {% if active_category == category.pk %}
										class="list-group-item list-group-item-action list-group-item-primary active">
									{% else %}
										class="list-group-item list-group-item-action list-group-item-primary">
									{% endif %}

								{{ category.name }}
                            </a></li>
							{% endfor %}
						</ul>

				</div>
				{% endif %}
			</div>
			
		</div>
	</div>
	<div class="col-xl-8">
		<div class="row no-gutters">
			<div class="col-xl-12 content">
				<div class="row no-gutters">
<!--******************************************************-->
{% if product_list %}
<h2>Все товары</h2>
<table style="width: 100%; text-align: center">
  <tr style="border-bottom: 4px solid #d4d4d4;">
	  <th>Картинка</th>
	  <th>Название</th>
	  <th>Цена</th>
	  <th>Кол-во на складе</th>
  </tr>
	{% for product in product_list %}
		
  <tr style="border-bottom: 1px solid #d4d4d4;">
		{% if product.image %}
		<td><img class="img-fluid" style="width: 150px;" src="{{ product.image.url }}" alt="картинка"></td>
		{% else %}
			<td>Нет картинки</td>
		{% endif %}
	  <td><a href="{% url 'mainapp:product_detail' product.pk %}">{{ product.name }}</a></td>
	  <td>{{ product.price }}</td>
	  <td>{{ product.quantity }}</td>
  </tr>
		 
	{% endfor %}
	 </table>
	  {% block pagination %}
		{% if is_paginated %}
			<div class="pagination">
				<span class="page-links">
					{% if page_obj.has_previous %}
						<a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Предыдущая</a>
					{% endif %}
					<span class="page-current">
						Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
					</span>
					{% if page_obj.has_next %}
						<a href="{{ request.path }}?page={{ page_obj.next_page_number }}">Следующая</a>
					{% endif %}
				</span>
			</div>
		{% endif %}
	  {% endblock %}
{% endif %}
		 

<!--******************************************************-->
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-2">
		<div class="row no-gutters">
			<!--
			<div class="col-xl-10 navi">
				<div class="head-nav">
					<p class="head-nav-title">Новости</p>
				</div>
				<div>
					{% if current_news %}
					<div class="row no-gutters justify-content-center">
						<div class="col-xl-12 col-sm-12">
							<div class="card">
								<img class="img-fluid card-img-top" src="{{ current_news.img.url }}" alt="Responsive image">

								<div class="card-body">
									<h5 class="card-title">{{ current_news.title  }}</h5>
									<p style="font-size: 10px;">Новость от {{ current_news.create }}</p>
									<a href="{% url 'post_detail' current_news.pk %}" class="btn btn-primary">Подробнее</a>
								</div>
							</div>
						</div>
					</div>
					{% endif %}
				</div>
			</div>
		-->
			<div class="col-xl-2 col1">

			</div> 
		</div>

	</div>
</div>

{% endblock %}
